@import url("https://cdn.syncfusion.com/ej2/material.css");

body {
  direction: rtl;
}

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #5f5f5f;
}

.dark ::-webkit-scrollbar-track {
  background-color: #20232a;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  background: transparent
    url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-icons {
  font-family: "e-icons" !important;
}
.dark .e-icons {
  color: #fff !important;
  background: transparent;
}
.dark .e-icons:hover {
  background: transparent;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

.dark .e-grid .e-row .e-rowcell {
  color: #ededed;
}

.dark .e-grid .e-row:hover .e-rowcell {
  background-color: #20232a !important;
  color: #7efff5 !important;
}
.dark .e-grid .e-rowcell.e-selectionbackground {
  background-color: #20232a;
  color: #7efff5;
}
.dark .e-input-group.e-control-wrapper.e-rtl {
  color: tomato;
}
.dark .e-grid .e-row {
  background-color: #1d1f23;
}
.dark .e-grid .e-headercell {
  background-color: #33373e;
  color: #ededed;
}
.dark .e-grid .e-gridpager {
  background-color: #33373e;
  color: #ededed;
}

.dark .e-toolbar-items.e-tbar-pos {
  background-color: #2c3a47;
}
.dark input.e-input.e-search::-webkit-input-placeholder {
  color: #fff !important;
}
.dark input.e-input {
  color: #fff;
}

.dark .e-icon-descending,
.dark .e-icon-ascending {
  color: #7efff5 !important;
}
.dark
  .e-headercell.e-centeralign.e-mousepointer.e-focus[aria-sort="ascending"]
  .e-headertext,
.dark
  .e-headercell.e-centeralign.e-mousepointer.e-focus[aria-sort="descending"]
  .e-headertext {
  color: #7efff5 !important;
}

.dark .control-section .content-wrapper {
  color: #fff;
}

.dark .e-input-group-icon.e-spin-down,
.dark .e-input-group-icon.e-spin-up {
  color: #fff !important;
}

.dark .e-pagercontainer {
  background: #33373e;
}

.dark .e-control.e-toolbar {
  background: #33373e;
  color: #fff;
}

.dark .e-toolbar-items,
.dark .e-toolbar-items .e-tbar-btn,
.dark .e-toolbar-item {
  background: #33373e;
  color: #fff;
}
.dark .e-tbar-btn-text {
  color: #fff !important;
}

.dark .e-schedule,
.dark .e-schedule .e-table-container,
.dark .e-schedule-toolbar-container {
  background-color: #33373e;
  color: #fff;
}

.dark .e-rte-content {
  background-color: #30343a;
  color: #ededed;
}

.dark .e-kanban {
  background-color: #33373e;
}
.dark .e-kanban .e-kanban-header th,
.dark .e-kanban .e-kanban-header th .e-header-text,
.dark .e-kanban .e-kanban-header th .e-item-count,
.dark .e-kanban .e-content-row td {
  background-color: #2f3137 !important;
  color: #ededed !important;
}
.dark .e-kanban .e-content-row td .e-card,
.dark .e-kanban .e-content-row td .e-card .e-card-header-title,
.dark .e-kanban .e-content-row td .e-card .e-card-content {
  background-color: #2a2c31 !important;
  color: #ededed !important;
}

.dark .e-kanban .e-content-row .e-collapse-header-text {
  color: #ededed !important;
}

.dark .e-kanban .e-card-wrapper {
  background-color: #2f3137 !important;
  color: #ededed !important;
}

.dark .e-filterbar th {
  background-color: #2f3137 !important;
}
